:root {
    scroll-behavior: auto !important;
  } 

  body{
    padding-bottom: 2rem;
    visibility: hidden;
  }
  
form{
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow-inset);
    padding: 1rem;
    margin: 5rem auto;
    max-width: 576px;
}

button, .request-code-link{
    margin: 1.5rem 1.5rem auto 1.5rem;
    }

#register-form{
    margin-top: 1rem;
}

#login-form{
    margin-top: 5rem;
}

#confirm-account-form{
    margin-top: 7rem;
}

#reset-password-form{
    margin: 1rem auto;
}

#request-code-form{
    margin-top: 10rem;
}